[Desktop Entry]
Type=Application
Name=RTSP Viewer
Comment=Launch the RTSP stream viewer
Exec=RTSPPATH/venv/bin/python RTSPPATH/main.py
Path=RTSPPATH
Terminal=false
Categories=Utility;Network;
